@font-face {
  font-family: 'Montserrat';
  src: url("/dreamshare/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'MontserratBold';
  src: url("/dreamshare/fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'RobotoLight';
  src: url("/dreamshare/fonts/Roboto/Roboto-Light.ttf");
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.d-flex-center, .container, .my-container__avatars_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-bg {
  background-image: url("../images/bg_dreamshare.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
  height: 700px;
}

.d-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__login_text, .my-container__card_textbtn, .menu__items_redtext {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.header__logo, .card__bold, .card__btn, .my-container__card_textbold, .my-container .btn__partner_text, .my-container__idea_text, .my-container__interests_btn, .areto__text, .my-container__title, .my-container__partner_card_textbold, .menu__items_text {
  font-family: 'MontserratBold', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.header__logo, .card__bold, .card__btn, .my-container__card_textbold, .my-container .btn__partner_text, .my-container__idea_text, .my-container__interests_btn, .areto__text {
  color: #FFFFFF;
}

.my-container__title, .my-container__partner_card_textbold, .menu__items_text {
  color: #444444;
}

.card__light, .my-container__card_textlight, .my-container__partner_card_textlight, .my-container__interests_text, .menu__box_item_link {
  font-family: 'RobotoLight', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.card__light {
  color: #F7F3F2;
}

.my-container__card_textlight, .my-container__partner_card_textlight {
  color: #E3E3E3;
}

.my-container__interests_text, .menu__box_item_link {
  color: #666666;
}

.card__btn, .my-container__card_btn, .my-container__card_btn_2, .my-container__interests_btn {
  background: #FF4E50;
  border-radius: 40px;
  border: none;
}

.header {
  height: 36px;
  margin: 40px 291px 0 248px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login_text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
}

.header__login_btn {
  width: 90px;
  height: 36px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  background: transparent;
  margin-left: 19px;
}

.header__logo {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
}

.card {
  width: 470px;
  height: 253px;
  margin: 147px auto 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__bold {
  font-size: 52px;
  line-height: 63px;
  letter-spacing: 2px;
}

.card__light {
  font-size: 24px;
  line-height: 24px;
  margin: 29px auto 33px;
}

.card__btn {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.8px;
  width: 225px;
  height: 40px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-container {
  width: 940px;
  margin: 95px auto 0;
}

.my-container__title {
  font-size: 26px;
  line-height: 20px;
  letter-spacing: 1.1px;
  text-align: center;
  height: 61px;
}

.my-container__img {
  width: 300px;
  height: 400px;
  position: relative;
}

.my-container__img-1 {
  width: 300px;
  height: 400px;
}

.my-container__card {
  position: absolute;
  width: 250px;
  height: 160px;
  bottom: 21px;
  left: 25px;
}

.my-container__card_btn, .my-container__card_btn_2 {
  width: 70px;
  height: 20px;
}

.my-container__card_btn_2 {
  margin-top: 30px;
}

.my-container__card_textbold {
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 1.1px;
  margin-top: 20px;
  margin-bottom: 26px;
}

.my-container__card_step2 {
  margin-top: 25px;
  margin-bottom: 17px;
}

.my-container__card_textlight {
  font-size: 14px;
  line-height: 14px;
}

.my-container__card_textbtn {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
}

.my-container__partners {
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.my-container__partner {
  width: 221px;
  height: 205px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-container__partner_card_textbold {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.1px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.my-container__partner_card_textlight {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
}

.my-container__avatars {
  position: relative;
  width: 120px;
  height: 120px;
}

.my-container__avatars_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #D8D8D8;
}

.my-container__avatars_icons {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}

.my-container__avatars_icons_color1 {
  background: #FF4E50;
}

.my-container__avatars_icons_color2 {
  background: #19D4CA;
}

.my-container__avatars_icons_color3 {
  background: #FFA710;
}

.my-container__avatars_icons_color4 {
  background: #667DF3;
}

.my-container__avatars_icon {
  width: 16px;
  height: 16px;
}

.my-container .btn__partner {
  width: 180px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}

.my-container .btn__partner_text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.8px;
  color: #FF4E50;
}

.my-container__ideas {
  height: 969px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.my-container__idea {
  width: 300px;
  height: 310px;
  position: relative;
}

.my-container__idea_img {
  width: 300px;
  height: 310px;
}

.my-container__idea_text {
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.my-container__idea2 {
  width: 620px;
  height: 310px;
  position: relative;
}

.my-container__idea2_img2 {
  width: 620px;
  height: 310px;
}

.my-container__interests {
  text-align: center;
}

.my-container__interests_text {
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 20px;
}

.my-container__interests_btn {
  width: 172.12px;
  height: 40px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  margin-left: 5px;
}

.my-container__interests_input {
  width: 299px;
  height: 40px;
}

.my-container__interests_input_text {
  font-family: 'Roboto Light', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 16px;
  margin-right: 1px;
}

input::-webkit-input-placeholder {
  font-family: 'Roboto Light', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
}

input:-ms-input-placeholder {
  font-family: 'Roboto Light', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
}

input::-ms-input-placeholder {
  font-family: 'Roboto Light', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
}

input::placeholder {
  font-family: 'Roboto Light', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
}

.redline {
  width: 1440px;
  margin-top: 100px;
  border: 3px solid #FF4E50;
  border-bottom-width: 0;
}

.footer {
  width: 941px;
  margin: 30px auto 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  width: 544px;
  height: 224px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.menu__items_text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
}

.menu__items_redtext {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FF4E50;
}

.areto__text {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #CCCCCC;
  text-align: end;
}

.areto__img {
  width: 110px;
  height: 24px;
  margin-top: 7px;
}

.menu__box {
  margin-top: 11px;
}

.menu__box_item_link {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
}

@media screen and (max-width: 1470px) {
  .container-bg {
    width: 768px;
    height: 700px;
    background-size: cover;
  }
  .header {
    margin: 40px 50px 0;
  }
  .my-container {
    width: 748px;
  }
  .my-container__img {
    width: 236px;
    height: 400px;
    overflow: hidden;
    margin-left: 7px;
  }
  .my-container__img:first-child {
    margin-left: 0;
  }
  .my-container__title {
    font-size: 22px;
    line-height: 27px;
  }
  .my-container__card {
    width: 196px;
    height: 179px;
    bottom: 16px;
    left: 20px;
  }
  .my-container__card_textbold {
    font-size: 24px;
    line-height: 14px;
    letter-spacing: 1px;
    margin-top: 45px;
    margin-bottom: 30px;
  }
  .my-container__card_step2 {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .my-container__card_btn_2 {
    margin-top: 50px;
  }
  .my-container__partners {
    width: 492px;
    height: 464px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  .my-container__partner {
    width: 236px;
    height: 205px;
    margin-left: 18px;
  }
  .my-container__partner_card_textbold {
    margin-top: 20px;
    margin-bottom: 22px;
  }
  .my-container__partner_card_textlight {
    letter-spacing: -0.3px;
  }
  .my-container__partner:nth-of-type(1), .my-container__partner:nth-of-type(2) {
    margin-left: 0;
  }
  .my-container .button__partner {
    margin-top: 42px;
  }
  .my-container__ideas {
    height: 970px;
  }
  .my-container__idea {
    width: 236px;
    height: 310px;
  }
  .my-container__idea_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .my-container__idea_travel {
    -o-object-position: left;
       object-position: left;
  }
  .my-container__idea_text_sport {
    white-space: normal;
    top: 45%;
  }
  .my-container__idea_text_helth {
    white-space: normal;
  }
  .my-container__idea_img2 {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .my-container__idea_relaction {
    -o-object-position: left;
       object-position: left;
  }
  .my-container__idea2 {
    width: 492px;
    height: 310px;
  }
  .my-container__interests_text {
    margin-bottom: 20px;
  }
  .redline {
    width: 748px;
    margin-top: 98px;
  }
  .footer {
    width: 689px;
    margin: 32px auto 0;
  }
  .menu {
    width: 462px;
  }
  .menu__items_redtext {
    line-height: 13px;
    margin-right: 47px;
  }
}

@media screen and (max-width: 798px) {
  .container-bg {
    width: 320px;
    height: 540px;
    background-size: cover;
  }
  .header {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    width: 153px;
    margin: 31px auto;
    height: 147px;
  }
  .header__login_btn {
    margin-left: 18px;
  }
  .header__logo {
    margin-top: 97px;
  }
  .card {
    width: 280px;
    height: 184px;
    margin: -6px auto 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card__bold {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
  }
  .card__light {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 0 auto;
  }
  .card__btn {
    width: 280px;
    height: 40px;
  }
  .my-container {
    width: 300px;
    margin: 35px auto 0;
  }
  .my-container__title {
    height: 41px;
  }
  .my-container__images {
    height: 740px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my-container__img {
    width: 300px;
    height: 240px;
    margin-left: 0;
  }
  .my-container__img-1 {
    width: 300px;
    height: 240px;
  }
  .my-container__card {
    width: 250px;
    height: 163px;
    bottom: 16px;
    left: 20px;
  }
  .my-container__card_textbtn {
    line-height: 20px;
  }
  .my-container__card_btn_2 {
    margin-top: 34px;
  }
  .my-container__card_textbold {
    font-size: 24px;
    line-height: 14px;
    letter-spacing: 1.1px;
    margin-top: 48px;
    margin-bottom: 25px;
  }
  .my-container__card_step2 {
    margin-top: 30px;
    margin-bottom: 23px;
  }
  .my-container__partners {
    height: 883px;
    width: 236px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .my-container__partners_title {
    height: 72px;
  }
  .my-container__partner {
    width: 236px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 0;
  }
  .my-container__partner_card_textbold {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .my-container__partner:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .my-container__partner:nth-of-type(4) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .my-container .button__partner {
    margin-top: 37px;
  }
  .my-container .btn__partner {
    width: 280px;
    height: 40px;
  }
  .my-container__idea {
    width: 300px;
    height: 207px;
  }
  .my-container__ideas {
    height: 900px;
  }
  .my-container__ideas_title {
    height: 87px;
    width: 280px;
    margin: 0 auto;
  }
  .my-container__idea {
    width: 300px;
    height: 120px;
  }
  .my-container__idea_img {
    width: 0;
    height: 0;
    display: block;
  }
  .my-container__idea_travel {
    width: 300px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 10px -21px;
       object-position: 10px -21px;
  }
  .my-container__idea_img2 {
    width: 300px;
    height: 120px;
  }
  .my-container__idea_relaction {
    width: 300px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .my-container__idea_education {
    width: 300px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .my-container__idea_games {
    width: 300px;
    height: 120px;
    background-image: url("../images/games.png");
    background-size: cover;
  }
  .my-container__idea_extrim {
    width: 300px;
    height: 120px;
    background-image: url("../images/extreme.png");
    background-size: cover;
  }
  .my-container__idea_helth {
    width: 300px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  .my-container__idea_sport {
    width: 100%;
    height: 120px;
    background-image: url("../images/Sport.png");
    background-size: cover;
  }
  .my-container__idea2 {
    width: 300px;
    height: 120px;
    position: relative;
  }
  .my-container__interests_input {
    width: 280px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
  }
  .my-container__interests_text {
    margin-top: 30px;
  }
  .my-container__interests_btn {
    width: 280px;
    height: 40px;
    margin-left: 0;
    margin-top: 10px;
  }
  .redline {
    width: 320px;
    margin-top: 38px;
  }
  .footer {
    width: 320px;
    height: 226px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    height: 139px;
  }
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 206px;
    margin: 0;
  }
  .menu__items {
    margin-top: 0;
  }
  .menu__items_text {
    text-align: center;
  }
  .menu__items_redtext {
    margin: -13px auto 13px;
    line-height: 20px;
  }
  .menu__items_partners {
    margin-top: 4px;
  }
  .areto {
    margin-bottom: 22px;
  }
  .areto__text {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */