

.container.d-flex-column
  hr.redline
  .footer
    .menu.d-flex
      .menu__items.menu__items_redtext
        | DREAMSHARE
      .menu__items
        p.menu__items_text Company
        ul.menu__box
          li.menu__box_item
            a.menu__box_item_link(href='#') About
          li.menu__box_item
            a.menu__box_item_link(href='#') Contact
          li.menu__box_item
            a.menu__box_item_link(href='#') Press
          li.menu__box_item
            a.menu__box_item_link(href='#') Blog
          li.menu__box_item
            a.menu__box_item_link(href='#') Terms and Privacy
          li.menu__box_item
            a.menu__box_item_link(href='#') Help
      .menu__items.menu__items_text.menu__items_partners
        | Partners
    .areto
      p.areto__text DESIGNED BY
      img.areto__img(src='images/areto.png', alt='')
