
.container
  .container-bg.d-flex-column
    .header
      .header__logo
        | DREAMSHARE
      .header__login
        p.header__login_text Log in
        button.header__login_btn.header__login_text Sign up
    .card
      .card__bold
        | SHARE YOUR HOLIDAY DREAM
      .card__light
        | And find the perfect partner to fullfill it
      button.card__btn Find your holiday partner
