$color-text: #FFFFFF;
$color-lighttext:#F7F3F2;
$btn-color: #FF4E50;
$color-title: #444444;
$color-text-card-light: #E3E3E3;
$color-icon1: #FF4E50;
$color-icon2: #19D4CA;
$color-icon3: #FFA710;
$color-icon4: #667DF3;
$color_partner_text: #666666;
$color-placeholder: #999999;
$color_interest_text: #666666;
$color-aretotext:#CCCCCC;